@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

.wrapper {
  width: 100%;
  height: 100%;
  background: violet;

  .temperature {
    font-family: 'Archivo Black', sans-serif;
    font-size: xx-large;
    text-align: center;
  }
}

